.card-showcase-member .member-name,
.team-showcase .member-name {
  font-size: 24px;
  font-weight: bolder;
  line-height: 1.5; }
.card-showcase-member .member-position,
.card-showcase-member .member-function,
.card-showcase-member .member-bio,
.card-showcase-member .member-telephone,
.card-showcase-member .member-email,
.team-showcase .member-position,
.team-showcase .member-function,
.team-showcase .member-bio,
.team-showcase .member-telephone,
.team-showcase .member-email {
  font-size: 16px;
  line-height: 1.5; }
  .card-showcase-member .member-position a:hover,
  .card-showcase-member .member-function a:hover,
  .card-showcase-member .member-bio a:hover,
  .card-showcase-member .member-telephone a:hover,
  .card-showcase-member .member-email a:hover,
  .team-showcase .member-position a:hover,
  .team-showcase .member-function a:hover,
  .team-showcase .member-bio a:hover,
  .team-showcase .member-telephone a:hover,
  .team-showcase .member-email a:hover {
    color: #333333; }
.card-showcase-member .member-position,
.card-showcase-member .member-function,
.team-showcase .member-position,
.team-showcase .member-function {
  color: #999999; }
.card-showcase-member .meta-label,
.team-showcase .meta-label {
  color: #333333;
  font-size: 14px;
  line-height: 1.5;
  margin: 8px 0;
  font-weight: 700;
  text-transform: none; }
.card-showcase-member .meta-text,
.team-showcase .meta-text {
  text-transform: none;
  font-size: 16px; }
  .card-showcase-member .meta-text a,
  .team-showcase .meta-text a {
    text-decoration: underline;
    color: black; }

.card-showcase-member {
  padding: 16px 8px;
  background-color: white;
  width: 100%;
  max-width: 800px; }
  @media screen and (min-width: 768px) {
    .card-showcase-member {
      padding: 32px; } }
  .card-showcase-member .member-name a {
    text-decoration: none;
    color: black; }
    .card-showcase-member .member-name a:hover {
      text-decoration: underline; }
  .card-showcase-member .aws-member-image {
    width: 128px;
    height: 128px;
    overflow: hidden;
    border-radius: 100%; }
    @media screen and (min-width: 768px) {
      .card-showcase-member .aws-member-image {
        display: inline-block;
        float: left; } }
    .card-showcase-member .aws-member-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .card-showcase-member .card-body {
    margin-top: 8px;
    min-height: 224px;
    position: relative; }
    @media screen and (min-width: 768px) {
      .card-showcase-member .card-body {
        margin-left: 160px;
        margin-top: 0; } }
    .card-showcase-member .card-body .member-position {
      min-height: 24px; }
    .card-showcase-member .card-body .member-telephone,
    .card-showcase-member .card-body .member-email,
    .card-showcase-member .card-body .member-bio {
      margin: 8px 0; }
    .card-showcase-member .card-body .member-details .meta-item {
      line-height: 1; }
      .card-showcase-member .card-body .member-details .meta-item .meta-label {
        margin-right: 4px; }
      .card-showcase-member .card-body .member-details .meta-item .social-media-container {
        display: inline-block;
        min-width: 100px;
        margin: 8px 0; }
      .card-showcase-member .card-body .member-details .meta-item .member-social-channel {
        display: inline-block;
        margin-right: 8px; }

body ul.team-showcase {
  list-style-type: none;
  padding-left: 0; }

ul.team-showcase {
  position: relative; }
  ul.team-showcase li.list-item.active {
    z-index: 5000; }

.showcase-content-container {
  padding: 64px 0; }

/*# sourceMappingURL=awesome-plugins-team-showcase-public.css.map */
