.team-showcase {

  .member-name {
    font-size: 24px;
    font-weight: bolder;
    line-height: 1.5;
  }

  .member-position,
  .member-function,
  .member-bio,
  .member-telephone,
  .member-email {
    font-size: 16px;
    line-height: 1.5;

    a {

      &:hover {
        color: $color-gray-80;
      }
    }
  }

  .member-position,
  .member-function {
    color: $color-gray-40;
  }

  .member-name {
    font-size:20px; //slightly bigger name than normal content
    min-height:30px; //to keep the layout intact when a name is missing
  }

  .member-function {
    font-size:14px; //slightly smaller text for secondary text in card.
    line-height:1.7;
    min-height:24px;//to keep the layout intact when a position text is missing
  }

  .meta-label {
    color: $color-gray-80;
    font-size: 14px;
    line-height: 1.5;
    margin: 8px 0;
    font-weight: 700;
    text-transform:none;
  }

  .meta-text {
    text-transform: none;
    font-size:16px;

    a {
      text-decoration: underline;
      color:black;
    }
  }

}