.panel-layover {
  transition: opacity .5s, visibility .5s;
  opacity: 0;

  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
  }

  &[aria-hidden="false"] {
    opacity: 1;
    visibility: visible;
    z-index: 2;
    transition: opacity .5s, visibility .5s;
  }
}