// Base Colors for the base we don't use default colors in children you can add the brand colors here
$color-white: #FFFFFF;
$color-black:#000000;

// Shades of Grey
$color-gray-80: darken($color-white, 80%);
$color-gray-60: darken($color-white, 60%);
$color-gray-40: darken($color-white, 40%);
$color-gray-20: darken($color-white, 20%);
$color-gray-10: darken($color-white, 10%);

$light-gray: #eceef1;
$slate: darken(#eceef1, 70%);
$turquoise: #1abc9c;
$base-background-transparent: rgba(0, 177, 235, 0.6);