.hidde-until-new{
  display: none;
}
.hidde-until-new.active{
  display: table-row;
}

.aws-member-meta tr[data-skin-extrainfo]{
  display: none;
}
.aws-member-meta tr[data-skin-extrainfo].visible{
  display: block;
}

.aws-member-meta option[data-option-skin]{
  display: none;
}
.aws-member-meta option[data-option-skin].visible{
  display: block;
}

@import
"aws-team-showcase-settings",
"aws-team-showcase-layover",
"aws-team-showcase-admin-style";